version: "3.8"

services:
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 1s
      retries: 15

  backend:
    # for first spin we can just run mvn spring-boot:run locally instead of building image,
    # but i'm still adding this so later i can do `docker compose up` and it just works.
    build: ./backend
    ports: ["8080:8080"]
    environment:
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    depends_on:
      redis:
        condition: service_healthy   # waiting until Redis replies PONG

  # frontend will come next message once we generate React client
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_HTTP_BASE=http://localhost:8080
    depends_on:
      - backend