server:
  port: 8080

spring:
  data:
    redis:
      host: ${SPRING_REDIS_HOST:redis}   # container talks to service name 'redis'
      port: ${SPRING_REDIS_PORT:6379}

logging:
  level:
    org.springframework.web.socket: DEBUG
